* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: monospace;
}

/* Variables */

:root {
  --cell-width: 22px;
  --grid-height: 36;
  --grid-width: 28;
  --bg-color: #111;
  --font: 'VT323', monospace;
}

/* Utility Rules */

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.wrap {
  flex-wrap: wrap;
}

/* Structural Rules */

#score-section {
  width: calc(var(--cell-width) * var(--grid-width));
  position: absolute;
  color: white;
  font-family: var(--font);
  text-transform: uppercase;
  font-size: 16px;
  padding: 20px 0;
  line-height: 22px;
  justify-content: space-between;
  text-align: left;
}

#menu-section {
  transition: 1s;
}

.menu-scores {
  margin-top: 20px;
}

#menu-high-score {
  text-transform: uppercase;
  font-family: var(--font);
  font-size: 24px;
}

#game-grid {
  height: calc(var(--cell-width) * var(--grid-height));
  width: calc(var(--cell-width) * var(--grid-width));
  background-color: var(--bg-color);
}

#game-section {
  /* game section is hidden by default */
  display: none;
  border: 10px var(--bg-color) solid;
}

.menu-wrapper {
  color: white;
  font-family: var(--font);
}

.cell {
  width: var(--cell-width);
  height: var(--cell-width);
  background-color: var(--bg-color);
  font-size: 8px;
}

.wall {
  background-color: blue;
  /* border: 1px solid blue; */
  background-image: url(../assets/images/wall.png);
  background-size: cover;
}

.ghost-house {
  background-color: var(--bg-color);
}

.teleport-left {
  background-color: var(--bg-color);
  background-image: url(../assets/images/door.png);
  background-size: cover;
}

.teleport-right {
  background-color: var(--bg-color);
  background-image: url(../assets/images/door.png);
  background-size: cover;
}

.prisoner {
  background-color: var(--bg-color);
  background-image: url(../assets/images/prisoner.png);
  background-size: cover;
}

.green-flag {
  background-color: var(--bg-color);
  background-image: url(../assets/images/flag_green.png);
  background-size: cover;
}

.red-flag {
  background-color: var(--bg-color);
  background-image: url(../assets/images/flag_red.png);
  background-size: cover;
}

/* Entity Rules */

.player {
  background-image: url(../assets/images/knight.gif);
  /* background-color: yellow; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 120%;
  /* border: 10px yellow solid; */
  /* border-radius: 50%; */
}

.player-dead {
  background-size: 0%;
  transition: 2s;
}

.pellet {
  background-image: url(../assets/images/coin.png);
  background-position: center;
  background-size: 30%;
  background-repeat: no-repeat;
}

.powerup{
  background-image: url(../assets/images/chest.gif);
  background-position: center;
  background-size: contain;
}

.intersection {
}

.blinky {
  background-image: url(../assets/images/slime.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.pinky {
  background-image: url(../assets/images/flying-enemy.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.inky {
  background-image: url(../assets/images/bomb.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.clyde {
  background-image: url(../assets/images/goblin.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Style Rules */

.wrapper {
  height: 100vh;
  width: 100vw;
  background-color: var(--bg-color);
  transition: 0.2s;
}

.pellets {
  text-align: right;
}

h1 {
  font-family: var(--font);
  font-size: 140px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 20px;
  transform-style: preserve-3d;
  transform: rotateX(-20deg);
}

h2 {
  text-transform: uppercase;
  font-size: 30px;
  color: white;
  font-family: var(--font);
}

.subtitle {
  font-size: 32px;
  transform-style: preserve-3d;
  transform: rotateX(20deg);
}

.menu-character-container {
  padding: 20px;
}

#level-clear-text {
  width: 400px;
  text-transform: uppercase;
  color: yellow;
  font-size: 60px;
  display: none;
  position: absolute;
  left: calc(50% - 200px);
  top: 45%;
  font-family: var(--font);
  font-weight: bold;
  animation-name: slide-up;
  animation-duration: 2s;
  text-align: center;
}

button {
  height: 40px;
  width: 140px;
  border: none;
  border: 2px lightslategray solid;
  background-color: var(--bg-color);
  color: lightslategray;
  padding: 5px;
  font-family: var(--font);
  font-size: 18px;
  margin: 5px 0;
}

button:hover {
  border: 2px yellow solid;
  background-color: var(--bg-color);
  color: yellow;
  transition: 0.5s;
  cursor: pointer;
}

#menu-button {
  margin-top: 40px;
}

.high-scores {
  padding: 20px;
}

#skull-img {
  height: 30px;
  margin-bottom: 15px;
}

#game-over-high-score {
  margin-top: 10px;
  font-size: 22px;
  text-transform: uppercase;
}

#end-game-button {
  height: 30px;
  width: 100px;
  font-size: 16px;
}

.menu-enemy {
  height: 40px;
  width: 40px;
}

.menu-player {
  height: 40px;
  width: 40px;  
}

#name-label {
  margin: 5px;
  font-size: 20px;
}

#name-entry {
  height: 40px;
  width: 80px;
  border: none;
  border: 2px lightslategray solid;
  background-color: var(--bg-color);
  color: lightslategray;
  padding: 5px;
  font-family: var(--font);
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}

#name-entry:focus {
  outline: none;
  border: none;
  border: 2px yellow solid;
  background-color: var(--bg-color);
}

#random-name {
  height: 40px;
  width: 40px;
  margin-right: 5px;
}

.white {
  font-size: 160px;
  color: white;
  transition: 3s;
  filter: none;
}

#start-game {
  height: 40px;
  width: 80px;
  font-size: 20px;
  margin-left: 5px;
}

#start-game:hover {
  border: 2px yellow solid;
  background-color: var(--bg-color);
  color: yellow;
  transition: 0.5s;
  animation: vibrate 0.5s linear infinite both;
  cursor: pointer;
}

#game-over-text {
  font-size: 80px;
  color:rgba(255, 255, 0, 1);
  margin-bottom: 10px;
}

.persp{
  perspective: 300px;
}

/* Animation Rules */

.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

.shadow {
  animation: shadow 3s ease alternate infinite;
}

.bg-anim {
  background: linear-gradient(182deg, #000000, slategray);
  background-size: 400% 400%;

  animation: backgound-anim 22s ease infinite;
}

.powerup-mode {
  animation-name: powerup;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  transition: 0.2s;
}

@keyframes powerup {
  0% {
    background: var(--bg-color);
  }
  100% {
    background: yellow;
  }
}

@keyframes slide-up {
  0% {
    color: rgba(255, 255, 0, 0);
    top: 90%
  }
  100% {
    color: rgba(255, 255, 0, 1);
    top: 45%
  }
}

@keyframes vibrate {
  0% {
    transform: translate(0);
  }
  10% {
    transform: translate(-2px, -2px);
  }
  20% {
    transform: translate(2px, -2px);
  }
  30% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(2px, 2px);
  }
  50% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, -2px);
  }
  70% {
    transform: translate(-2px, 2px);
  }
  80% {
    transform: translate(-2px, -2px);
  }
  90% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes shadow {
  0% {
    filter: drop-shadow(0 0 4px slategray);
  }
  100% {
    filter: drop-shadow(-5px 12px 6px yellow);
  }
}

@keyframes backgound-anim {
  0%{background-position:21% 0%}
  50%{background-position:20% 20%}
  100%{background-position:21% 0%}
}