* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */

:root {
  --cell-width: 20px;
  --grid-height: 36;
  --grid-width: 28;
}

/* Utility Rules */

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.center {
  justify-content: center;
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

/* Structural Rules */

#game-grid {
  height: calc(var(--cell-width) * var(--grid-height));
  width: calc(var(--cell-width) * var(--grid-width));
  background-color: black;
}

.cell {
  width: var(--cell-width);
  height: var(--cell-width);
  background-color: black;
  font-size: 8px;
}

.wall {
  background-color: blue;
  border: 1px solid blue;
}

.ghost-house {
  background-color: violet;
}

.teleport-zone {
  background-color: aqua;
}

/* Entity Rules */

.player {
  /* background-image: url(../assets/images/knight.png); */
  background-color: yellow;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 10px yellow solid;
  border-radius: 50%;
}

.pellet {
  background-image: url(../assets/images/Potato.png);
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}

.powerup{
  background-image: url(../assets/images/Strawberry.png);
  background-position: center;
  background-size: contain;
}

.intersection {
  background-color: green;
}

.ghost {
  background-image: url(../assets/images/ghost.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Style Rules */

.wrapper {
  height: 100vh;
  width: 100vw;
}

/* Animation Rules */
